<% page_articles.each_with_index do |article, i| %>
<div class="entry">
    <h1>
        <%= link_to article.title, article %>
    </h1>
    <span class="blog-title-under">
        by
        <% if article.data.author_link %>
            <a href="<%= article.data.author_link %>"><%= article.data.author %></a>
        <% else %>
            <a href="/authors#<%= article.data.author.gsub(/[^a-zA-Z]/,'') %>"><%= article.data.author %></a>
        <% end %>
        / tags
        <% article.data.tags.each do |tag| %>
        <a href="/blog/tagged?<%= tag %>"><%= tag %></a>
        <% end %>
        <%= article.date.strftime('%b %e, %Y') %>
    </span>
    <p>
        <img src="/images/authors/<%= article.data.author_picture || article.data.author.gsub(/[^a-zA-Z]/,'')+'.jpg' %>" alt="<%= article.data.author %>">
        <%= article.data.description %>
    </p>
    <p>
        <%= link_to "Read More...", article %>
    </p>
</div>
<div class="clearfix"></div>
<% end %>
