---
layout: layout
basenameOrig: blog-entry
---

<div id="content" class="document-blog-entry
                         sidebar
                         <%= post.date.year < 2014 ? "drupal-import" : "" %>
                         <%= page_classes %>">
    <section role="main">
        <article class="normalize">
            <h1><%= post.title %></h1>
            <div class="clearfix"></div>
            <div class="content">
                <%= markitdown(post.body) %>
            </div>
            
            <%= partial('comments') %>
        </article>
    </section>
    <aside class="sidebar-blog normalize">
        <div id="side-border"></div>
        <button id="side-collapse" class="button big">
            <i class="icon icon-chevron-left"></i>
            <i class="icon icon-chevron-right"></i>
        </button>
        <div class="inner">
            <%= partial('sidebars/blog', :locals => { :post => post } ) %>
        </div>
    </aside>
</div>