<a href="/resources/submit-instructions/#pane-blogs" class="button big submit-content">
    Submit Content
</a>
<div class="try-buy-buttons">
    <div class="inner">
        <a class="button primary" href="/download">
            <i class="icon icon-download"></i> Try Komodo IDE
        </a>
        <a class="button" href="/pricing">
            <i class="icon icon-shopping-cart"></i> Buy Komodo IDE
        </a>
    </div>
</div>
<% if defined? post and post %>
<div class="info">
    <h1>Blog Info</h1>

    <% if post.author[0].has_key? "profilePhoto" %>
        <img src="<%= post.author[0].profilePhoto.url %>" alt="<%= post.author[0].name %>">
    <% end %>

    <p>
        <strong>By:</strong>
        <a href="/authors#<%= post.author[0].name.gsub(/[^a-zA-Z]/,'') %>"><%= post.author[0].name %></a>
    </p>

    <p>
        <strong>Tags: </strong>
        <% post.tags.each do |tag| %>
            <a href="/blog/tagged/<%= tag %>"><%= tag %></a>
        <% end %>
    </p>
    <p><strong>Date Posted: </strong><%= post.date.strftime('%b %e, %Y') %></p>
</div>
<div class="clearfix"></div>
<% end %>
<div class="blogs">
    <h1>Recent Blogs</h1>
    <ul>
        <% posts = data.blog.posts.sort_by { |k,v| v["date"] }.reverse %>
        <% posts.first(10).each do |id,_post| %>
        <li>
            <a href="/blog/<%= _post.slug.sub(/^(\d{4}-\d{2})-/,'\1/') %>"><%= _post.title %></a>
        </li>
        <% end %>
    </ul>
</div>

<div class="screencasts">
    <h1>Recent Screencasts</h1>
    <% sitemap.where(:layout.equal => 'screencast').all()[0..5].each() do |item| %>
    <a href="<%= item.url %>">
        <i class="icon icon-youtube-play"></i>
        <figure style="background-image: url('<%= vimeo_data(item.data.vimeo_id, "thumbnail_large") %>')"></figure>
        <span><%= item.data.title %></span>
    </a>
    <% end %>
</div>
