<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Site Properities -->
        <title><%= get_title(defined?(post) ? post : false) %></title>
        <meta name="description" content="<%= current_page.data.description || description %>" />
        <meta name="keywords" content="<%= current_page.data.keywords || keywords %>" />

        <link rel="icon"  type="image/png" href="/images/favicon.png">


        <link rel="icon" href="/assets/images/favicon.ico">

        <!-- Styles -->
        <%= stylesheet_link_tag "style" %>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>

    </head>
    <body class="startpage">

        <div id="container">
            <a name="top"></a>
            <header>
                <div class="featured-wrap">
                    <div class="featured">
                        <%= yield %>
                    </div>
                    <img src="/assets/images/misc/komodo256.ide.png" align="right">
                    <div class="links">
                        <%= get_list(data.startpage.links, "unstyled") %>
                    </div>
                </div>
                <div class="news">
                    <% posts = get_recent_blogs() %>
                    <% posts.first(5).each do |id,_post| %>
                    <dl>
                        <dt>
                            <a href="<%= site_url %>/blog/<%= _post.slug.sub(/^(\d{4}-\d{2})-/,'\1/') %>">
                                <%= _post.title %>
                            </a>
                        </dt>
                        <dd>
                            By <%= _post.author[0].name %>, <%= _post.date.strftime('%b %e, %Y') %>
                        </dd>
                    </dl>
                    <% end %>
                    <p><a href="<%= site_url %>/blog">View More..</a></p>
                </div>
            </header>
        </div>

        <!-- Scripts -->
        <%= javascript_include_tag  "script" %>

        <!-- Analytics -->
        <% if is_live %>
        <img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100751152ns.gif" />
        <% end %>

    </body>
</html>
