---
title: Komodo Blog
sidebar: blog
description: A blog about the latest news and events related to Komodo IDE and Komodo Edit
socialDescription: Komodo IDE Blog
basenameOrig: blog
pagination:
  for: blog
  per_page: 10
---

<% pagination.each do |id,post| %>
<div class="entry">
    <h1>
        <a href="/blog/<%= post.slug.sub(/^(\d{4}-\d{2})-/,'\1/') %>"><%= post.title %></a>
    </h1>
    <span class="blog-title-under">
        by
        <a href="/authors#<%= post.author[0].name.gsub(/[^a-zA-Z]/,'') %>"><%= post.author[0].name %></a>
        / tags
        <% post.tags.each do |tag| %>
            <a href="/blog/tagged/<%= tag %>"><%= tag %></a>
        <% end %>
        <%= post.date.strftime('%b %e, %Y') %>
    </span>
    <p>
        <% if post.has_key?("featuredImage") %>
            <img src="<%= post.featuredImage.url %>">
        <% elsif post.author[0].has_key? "profilePhoto" %>
            <img class="author" src="<%= post.author[0].profilePhoto.url %>" alt="<%= post.author[0].name %>">
        <% end %>
    
        <%= summary(post.body) %>
    </p>
    <p>
        <a href="/blog/<%= post.slug.sub(/^(\d{4}-\d{2})-/,'\1/') %>">Read More...</a>
    </p>
</div>
<div class="clearfix"></div>
<% end %>


<% if false %>

<h3 class="centered">
    You've reached the end.<br>
    Note that you can access our
    <a href="http://www.activestate.com/blog/category/blog-categories/komodo" target="_blank">
        older blog archives on the ActiveState website
    </a>.
</h3>

<% end %>

<%= partial('pagination', :locals => { pagination: pagination }) %>

<%= partial('addthis') %>