---
layout: false
---
<?xml version="1.0"?>
<rss version="2.0">
    <channel>
        <title>Komodo Blogs</title>
        <description>Komodo blog RSS feed.  </description>
        <link>http://komodoide.com/blog/</link>
        <language>en</language>
        <webMaster>support@activestate.com (ActiveState Support)</webMaster>
        <lastBuildDate><%= DateTime.now.rfc2822() %></lastBuildDate>
        <generator>Middleman 3.3.10</generator>
        <% posts = get_recent_blogs() %>
        <% posts.first(15).each do |id,post| %>
            <% id = "/blog/" + post.slug.sub(/^(\d{4}-\d{2})-/,'\1/') %>
            <item>
                <title><%= post.title %></title>
                <link><%= site_url + id %></link>
                <pubDate><%= DateTime.parse(post.date.to_s()).rfc2822() %></pubDate>
                <description><%= summary(post.body) %></description>
                <guid><%= site_url + id %></guid>
            </item>
    <% end %>
    </channel>
</rss>