---
title: Features
layout: default
description: Find out about the countless features Komodo offers
socialDescription: Komodo IDE Features
priority: 0.8
---

<div class="assistance">
    <div class="inner">
        <div id="lpButDivID-1279824964197"></div>
    </div>
</div>

<div class="centered title">
    <h1>Komodo Features</h1>
    <h3>
        <a href="http://www.activestate.com/sites/default/files/pdf/komodo-teams.pdf">
            <i class="icon icon-download"></i>
            Download Komodo for Teams datasheet
        </a>
    </h3>
    <hr>
</div>

<div class="article-wrapper">

    <% if data.promotions.global.enabled %>
        <h2 class="promotion global">
            <a href="<%= data.promotions.global.link %>">
                <%= data.promotions.global.description %>
            </a>
        </h2>
    <% end %>
    
    <div class="clearfix"></div>
    
    <div class="quick-nav sticky">
        <ul>
        <% data.features.each() do |group| %>
            <li>
                <a href="#<%= group.id %>">
                    <i class="icon icon-fw icon-<%= group.icon %>"></i>
                    <%= group.name_short or group.name %>
                </a>
            </li>
        <% end %>
            <li><hr/></li>
            <li>
                <a href="/testimonials">Testimonials</a>
            </li>
        </ul>
    
        <div class="try-buy-buttons">
            <div class="inner">
                <a class="button primary" href="/download">
                    <i class="icon icon-download"></i> Try Komodo IDE
                </a>
                <a class="button <%= 'promoted' if data.promotions.buttons.enabled %>" href="/pricing">
                    <i class="icon icon-shopping-cart"></i> Buy Komodo IDE
                    <% if data.promotions.buttons.enabled %>
                        <div class="promotion badge">
                            ON SALE
                        </div>
                    <% end %>
                </a>
            </div>
        </div>
    
    </div>
    
    <div class="groups">
        
        <% group = data.features.find { |f| f.id = "new" } %>
        <div class="group group-<%= group.id %>" id="<%= group.id %>">
            <div class="head">
                <h2><%= group.name %></h2>
            </div>
            
            <div class="no_tabs">
                <!--
                <ul>
                    < % group.groups.each() do |subgroup| %>
                    <li>
                        <a href="#< %= subgroup.id %>">< %= subgroup.name %></a>
                    </li>
                    < % end %>
                </ul>
                -->
                <% group.groups.each() do |subgroup| %>
                <ul id="<%= subgroup.id %>" class="features">
                    <% subgroup.items.each() do |feature| %>
                    <li>
                        <% if feature.img %>
                        <img src="<%= image_path('screenshots/features/'+feature.img) %>">
                        <% end %>
                        <div class="inner">
                            <strong><%= feature.name %></strong>
                            <% if feature.video %>
                                <a href="<%= feature.video %>">
                                    <i class="icon icon-film"></i>
                                </a>
                            <% end %>
                            <% if feature.isNew %>
                            <span class="badge">
                                NEW
                            </span>
                            <% end %>
                            <div class="description <%= feature.class_names or "" %>">
                                <% if feature.markdown %>
                                    <%= markitdown(feature.description) %>
                                <% else %>
                                    <p><%= feature.description %></p>
                                <% end %>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <% end %>
                </ul>
                <% end %>
                <div class="clearfix"></div>
            </div>
        </div>
    
        <% data.features.each() do |group| %>
        <% next if group.id == "new" %>
        <div class="group group-<%= group.id %>" id="<%= group.id %>">
            <div class="head">
                <i class="icon icon-<%= group.icon %>"></i>
                <h2><%= group.name %></h2>
                <p>
                    <%= group.description %>
                </p>
            </div>
            <ul class="features">
                <% group.items.each() do |feature| %>
                <li>
                    <strong><%= feature.name %></strong>
                    <% if feature.video %>
                        <a href="<%= feature.video %>">
                            <i class="icon icon-film"></i>
                        </a>
                    <% end %>
                    <% if feature.isNew %>
                    <span class="badge">
                        NEW
                    </span>
                    <% end %>
                    <div class="description <%= feature.class_names or "" %>">
                        <% if feature.markdown %>
                            <%= markitdown(feature.description) %>
                        <% else %>
                            <p><%= feature.description %></p>
                        <% end %>
                    </div>
                </li>
                <% end %>
            </ul>
            <div class="clearfix"></div>
        </div>
    
        <% end %>
    </div>
</div>

<%= partial('addthis') %>


<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0051/5538.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
