---
title: Komodo IDE -- One Cross-Platform IDE, All Your Languages
classNames: no-grid
dontNormalize: true
priority: 1.0
---

<!-- Splash -->

<div id="splash-header-outer">
<div id="splash-header">
    
    <div class="assistance">
        <div class="inner">
            <div id="lpButDivID-1279824964197"></div>
        </div>
    </div>

    <% if data.promotions.splash.enabled %>
        <h1 class="promotion">
            <%= data.promotions.splash.description %>
        </h1>
    <% else %>
        <h1>One IDE, All Your Languages</h1>
    <% end %>
    
    <div id="splash-description">
        <p>
            Cross-Platform IDE for all your major languages, <br>
            including
            <a href="/python" class="python">Python</a>,
            <a href="/php" class="php">PHP</a>,
            <a href="/go" class="go">Go</a>,
            <a href="/perl" class="perl">Perl</a>,
            <!--<a href="/tcl" class="tcl">Tcl</a>,-->
            Tcl
            Ruby,
            NodeJS,
            HTML,
            CSS,
            JavaScript
            <span class="more">
                <span>and more</span>
                <span class="languages">
ActionScript, Ada, Apache, APDL, ASN1, Assembler, AutoIt, Avenue, Baan, Bash,
Batch, BlitzBasic, Bullant, C#, C++, CLW, CMake, Cobol, CoffeeScript, ConTeX,
Csound, CSS, Diff, Django, Eiffel, EJS, epMojo, Erlang, Errors, EScript,
Flagship, Forth, Fortran, Fortran 77, FreeBasic, Go, Gui4Cli, Haskell, HLSL,
HTML, HTML5, IDL, Ini, Java, JavaScript, JSON, Kix, Komodo Snippet,
LaravelBlade, LaTeX, Less, Lisp, Lot, Lout, Lua, Luddite, Makefile, Markdown,
Mason, Matlab, Metapost, MMIXAL, MSSQL, MXML, MySQL, Nimrod, nnCrontab, Node.js,
Nsis, Objective Caml, Octave, Pascal, Perl, PHP, PL-SQL, PostScript, POVRay,
PowerBasic, PowerPro, PowerShell, PureBasic, Python, Python3, REBOL, Regex,
reStructuredText, RHTML, Ruby, Sass, Scheme, Scriptol, SCSS, Smalltalk, Smarty,
SML, Sorcus, Specman-E, SQL, TACL, TADS3, TAL, Tcl, TemplateToolkit, TeX, Text,
TracWiki, Twig, VBScript, Verilog, VHDL, VisualBasic, XBL, XML, XSLT, XUL, YAML
                </span>
            </span>
        </p>
    </div>

    <div id="splash-download-wrap">
        <div id="splash-download-buttons">
            <a class="button primary big" href="/download">
                <i class="icon icon-download"></i> Try Now
                <p>21 day fully functional trial</p>
            </a>
            <a class="button big" href="/pricing">
                <i class="icon icon-shopping-cart"></i> Buy Now
                <p>Choose the right license for you</p>
                
                <% if data.promotions.buttons.enabled %>
                    <div class="promotion badge">
                        ON SALE
                    </div>
                <% end %>
            </a>
        </div>
        <div id="splash-download-edit">
            <p>
                Just want the basics?
                <a href="/komodo-edit">Check out Komodo Edit</a>
            </p>
        </div>
    </div>

    <div id="splash-screenshots">
        
        <div id="screenshot-callouts">
            <figure id="callout-panel-switcher">
                <p>Easily toggle your important panels and widgets from the toolbar</p>
            </figure>
            <figure id="callout-panel">
                <p>Your panels hold any number of widgets which you can easily move and combine to your liking</p>
            </figure>
            <figure id="callout-open-files">
                <p>Navigate through your open files, sort results and group them by language, path, custom patterns</p>
            </figure>
            <figure id="callout-margin">
                <p>Place breakpoints, collapse blocks of code, track change-sets, all easily accessible from your editor margin</p>
            </figure>
            <figure id="callout-commando">
                <p>Quickly go to anything, whether it's a file, a project, a command, a bookmark .. you name it</p>
            </figure>
            <figure id="callout-spelling">
                <p>Komodo checks your spelling while you type</p>
            </figure>
        </div>
        
        <figure class="splash-windows secondary"></figure>
        <figure class="splash-osx primary"></figure>
        <figure class="splash-linux tertiary"></figure>

        <!--
        <a href="https://twitter.com/KomodoIDE" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @KomodoIDE</a>
        -->
    </div>
</div>
</div>

<!-- Features -->

<div id="splash-features">
    <h1>Features</h1>
    <a href="/features">View All</a>

    <div id="splash-feature-column">
        <ul>
            <li>
                <img src="/assets/images/screenshots/featured/commando.png"/>
                <h2>Commando</h2>
                <p>
                    Quick access to all your files, tools, bookmarks, you name it.
                    Commando paves the way!
                </p>
                <span class="badge">NEW</span>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/trackchanges.png"/>
                <h2>Track Changes</h2>
                <p>
                    Easily reference what changes you have made, revert back or
                    share the change via <a href="http://kopy.io">kopy.io</a>.
                </p>
                <span class="badge">NEW</span>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/docker.png"/>
                <h2>Docker & Vagrant</h2>
                <p>
                    Run commands on your available instances, using auto-completions and hints.
                </p>
                <span class="badge">NEW</span>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/packagemanager.png"/>
                <h2>Package Manager</h2>
                <p>
                    Integrates with Bower, NPM, Composer, Gem, PIP, CPAN, PyPM and PPM.
                </p>
                <span class="badge">NEW</span>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/shell.png"/>
                <h2>Shell Integration</h2>
                <p>
                    Easily run shell commands right from inside Komodo.
                </p>
                <span class="badge">NEW</span>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/codeintel.png"/>
                <h2>Code Intelligence</h2>
                <p>
                    Auto-complete and calltips. Fast code navigation with Code
                    Browser. Code refactoring.
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/vcs.png"/>
                <h2>Version Control</h2>
                <p>
                    Subversion, Mercurial, Git, Perforce, Bazaar, CVS.
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/collab.png"/>
                <h2>Collaboration</h2>
                <p>
                    Edit with multiple users simultaneously with Code Collaboration.
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/crossplatform.png"/>
                <h2>Cross-Platform</h2>
                <p>
                    Identical features for Mac, Linux and Windows. 
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/debug.png"/>
                <h2>Debugging</h2>
                <p>
                    Debug PHP, Python, Perl, Ruby, Tcl, Node.js. Debug locally and
                    remotely. Configure breakpoints.
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/packages.png"/>
                <h2>Packages and Customization</h2>
                <p>
                    Install and use community contributions from directly inside
                    of Komodo. 
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/test.png"/>
                <h2>Unit Testing</h2>
                <p>
                    Supports major frameworks such as PHPUnit, Perl TAP, Python
                    unittest, and Ruby's rake test.
                </p>
            </li>
        </ul>
    </div>
</div>

<!-- Addons -->
<div id="splash-addons">
    <div class="inner">
        <h1>Resources</h1>
        <p>
            Resources allow you to enhance Komodo through addons, skins,
            color schemes, macros, key bindings, etc.
        </p>
        <br class="clearfix">

        <div class="block">
            <h2>Recently Updated</h2>
            <ul>
                <%= partial('resource-list-small', :locals => { :resources => data.resources.all[0..4]  } ) %>
            </ul>
            <div class="centered">
                <a href="/resources">View All</a>
            </div>
        </div>
        <div class="block">
            <h2>Most Popular</h2>
            <ul>
                <%= partial('resource-list-small', :locals => { :resources => data.resources.popular[0..4]  } ) %>
            </ul>
            <div class="centered">
                <a href="/resources/popular">View All</a>
            </div>
        </div>
        <div class="block">
            <h2>Most Downloaded</h2>
            <ul>
                <%= partial('resource-list-small', :locals => { :resources => data.resources.downloads[0..4]  } ) %>
            </ul>
            <div class="centered">
                <a href="/resources/downloads">View All</a>
            </div>
        </div>
    </div>
</div>

<!-- News -->
<div id="splash-news">
    <div>
        <div id="splash-news-blogs">
            <h1><a href="/blog">Blogs</a></h1>
            <% posts = get_recent_blogs() %>
            <% posts.first(5).each do |id,_post| %>
            <dl>
                <dt>
                    <a href="/blog/<%= _post.slug.sub(/^(\d{4}-\d{2})-/,'\1/') %>"><%= _post.title %></a>
                </dt>
                <dd>
                    By <%= _post.author[0].name %>, <%= _post.date.strftime('%b %e, %Y') %>
                </dd>
            </dl>
            <% end %>
        </div>
        <div id="splash-news-tweets">
            <h1>
                <a href="http://twitter.com/KomodoIDE" target="_blank">Tweets</a>

                <a href="https://twitter.com/KomodoIDE" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @KomodoIDE</a>
            </h1>
            <ul>
                <script id="tweet-template" type="text/x-handlebars-template">
                    <li>
                        <div class="icons">
                            <a href="{{link}}" target="_blank"><i class="icon icon-twitter"></i></a>
                            {{#if retweet}}
                                <i class="icon icon-retweet tooltip" title="Retweeted by {{retweet.author}}"></i>
                            {{/if}}
                        </div>

                        <a href="{{author_link}}" title="{{author}} ({{nick}})" target="_blank">
                            <img src="{{avatar}}" align="left">
                        </a>
                        <span class="tweet">
                            {{{tweet}}}
                        </span>
                    </li>
                </script>
            </ul>
        </div>
    </div>
    <div>
        <div id="splash-news-testimonials">
            <h1><a href="/testimonials">Testimonials</a></h1>
            <div class="testimonial">
                <div class="quote-left">“</div>
                <div class="quote-right">”</div>
                <blockquote data-field="comment">
                    @ActiveState Sweetttt, you beautiful sons-of-$&^%@, Komodo 8 now has
                    all the features I've wanted in an IDE since I was 2 years old. #thanx
                </blockquote>
                <span>
                    <span data-field="name">ANAIO</span> via <span data-field="source"><a href="#">Twitter</a></span>
                </span>
            </div>
        </div>
        <div id="splash-news-screencasts">
            <h1><a href="/screencasts">Screencasts</a></h1>
                <% get_pages_by_layout('screencast')[0..5].each() do |item| %>
                <a href="<%= item.url %>">
                    <i class="icon icon-youtube-play"></i>
                    <figure style="background-image: url('<%= vimeo_data(item.data.vimeo_id, "thumbnail_large") %>')"></figure>
                    <span><%= item.data.title %></span>
                </a>
                <% end %>
        </div>
    </div>
</div>

<!-- LivePerson -->
<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/88203588/?cmd=mTagRepstate&site=88203588&buttonID=12&divID=lpButDivID-1279824964197&bt=1&c=1"></script>
