---
title: Komodo IDE -- One Cross-Platform IDE, All Your Languages
classNames: no-grid
dontNormalize: true
priority: 1.0
---

<!-- Splash -->

<div id="splash-header-outer">
<div id="splash-header">
    
    <div class="assistance">
        <div class="inner">
            <div id="lpButDivID-1279824964197"></div>
        </div>
    </div>

    <h1>One IDE, All Your Languages</h1>
    <div id="splash-description">
        <p>
            Cross-Platform IDE for all your major languages, <br>
            including
            <a href="/python" class="python">Python</a>,
            <a href="/php" class="php">PHP</a>, Go, Ruby, Perl, Tcl, NodeJS,
            HTML, CSS and JavaScript.
        </p>
    </div>

    <div id="splash-download-wrap">
        <div id="splash-download-buttons">
            <a class="button primary big" href="/download">
                <i class="icon icon-download"></i> Try Now
                <p>21 day fully functional trial</p>
            </a>
            <a class="button big <%= 'promoted' if data.promotions.buttons.enabled %>" href="/pricing">
                <i class="icon icon-shopping-cart"></i> Buy Now
                <p>Choose the right license for you</p>
                
                <% if data.promotions.buttons.enabled %>
                    <div class="promotion badge">
                        ON SALE
                    </div>
                <% end %>
            </a>
        </div>
        <div id="splash-download-edit">
            <p>
                Just want the basics?
                <a href="/komodo-edit">Check out Komodo Edit</a>
            </p>
        </div>
    </div>

    <div id="splash-screenshots">
        <figure class="splash-windows secondary"></figure>
        <figure class="splash-osx primary"></figure>
        <figure class="splash-linux tertiary"></figure>

        <!--
        <a href="https://twitter.com/KomodoIDE" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @KomodoIDE</a>
        -->
    </div>
</div>
</div>

<!-- Features -->

<div id="splash-features">
    <h1>Features</h1>
    <a href="/features">View All</a>

    <div id="splash-feature-column">
        <ul>
            <li>
                <img src="/assets/images/screenshots/features/codeintel-featured-small.png"/>
                <h2>Code Intelligence</h2>
                <p>
                    Auto-complete and calltips. Fast code navigation with Code
                    Browser. Code refactoring.
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/features/vcs-featured-small.png"/>
                <h2>Version Control</h2>
                <p>
                    Subversion, Mercurial, Git, Perforce, Bazaar, CVS.
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/features/skinning-featured-small.png"/>
                <h2>Skinning</h2>
                <p>
                    Sleek UI frees up editing space. Undock and move side panes.
                    Download/create custom skins.
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/trackchanges.png"/>
                <h2>Track Changes</h2>
                <p>
                    Easily reference what changes you have made, revert back or
                    share the change via <a href="http://kopy.io">kopy.io</a>.
                </p>
                <span class="badge">NEW</span>
            </li>
            <li>
                <img src="/assets/images/screenshots/features/collab-featured-small.png"/>
                <h2>Collaboration</h2>
                <p>
                    Edit with multiple users simultaneously with Code Collaboration.
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/commando.png"/>
                <h2>Commando</h2>
                <p>
                    Quick access to all your files, tools, bookmarks, you name it.
                    Commando paves the way!
                </p>
                <span class="badge">NEW</span>
            </li>
            <li>
                <img src="/assets/images/screenshots/features/crossplatform-featured-small.png"/>
                <h2>Cross-Platform</h2>
                <p>
                    Identical features for Mac, Linux and Windows. 
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/markdown-preview.png"/>
                <h2>Markdown Preview</h2>
                <p>
                    Preview your markdown files in real-time (as you write them).
                </p>
                <span class="badge">NEW</span>
            </li>
            <li>
                <img src="/assets/images/screenshots/features/debug-featured-small.png"/>
                <h2>Debugging</h2>
                <p>
                    Debug PHP, Python, Perl, Ruby, Tcl, Node.js. Debug locally and
                    remotely. Configure breakpoints.
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/features/addons-featured-small.png"/>
                <h2>Add-Ons and Customization</h2>
                <p>
                    Vi and emacs key bindings. Install Add-ons for specific
                    features. 
                </p>
            </li>
            <li>
                <img src="/assets/images/screenshots/featured/sdk.png"/>
                <h2>Powerful SDK</h2>
                <p>
                    Use CommonJS modules to easily modify and extend Komodo to your
                    liking.
                </p>
                <span class="badge">NEW</span>
            </li>
            <li>
                <img src="/assets/images/screenshots/features/test-featured-small.png"/>
                <h2>Unit Testing</h2>
                <p>
                    Supports major frameworks such as PHPUnit, Perl TAP, Python
                    unittest, and Ruby's rake test.
                </p>
            </li>
        </ul>
    </div>
</div>

<!-- Addons -->
<div id="splash-addons">
    <div class="inner">
        <h1>Resources</h1>
        <p>
            Resources allow you to enhance Komodo through addons, skins,
            color schemes, macro's, key bindings, etc.
            <a href="/resources">View All</a>
        </p>
        <br class="clearfix">

        <div class="block">
            <h2>Recently Updated</h2>
            <ul>
                <%= partial('resource-list-small', :locals => { :resources => data.resources.all[0..9]  } ) %>
            </ul>
        </div>
        <div class="block">
            <h2>Most Popular</h2>
            <ul>
                <%= partial('resource-list-small', :locals => { :resources => data.resources.popular[0..9]  } ) %>
            </ul>
        </div>
        <div class="block">
            <h2>Most Downloaded</h2>
            <ul>
                <%= partial('resource-list-small', :locals => { :resources => data.resources.popular[0..9]  } ) %>
            </ul>
        </div>
    </div>
</div>

<!-- News -->
<div id="splash-news">
    <div>
        <div id="splash-news-blogs">
            <h1><a href="/blog">Blogs</a></h1>
            <% posts = get_recent_blogs() %>
            <% posts.first(5).each do |id,_post| %>
            <dl>
                <dt>
                    <a href="/blog/<%= _post.slug.sub(/^(\d{4}-\d{2})-/,'\1/') %>"><%= _post.title %></a>
                </dt>
                <dd>
                    By <%= _post.author[0].name %>, <%= _post.date.strftime('%b %e, %Y') %>
                </dd>
            </dl>
            <% end %>
        </div>
        <div id="splash-news-tweets">
            <h1>
                <a href="http://twitter.com/KomodoIDE" target="_blank">Tweets</a>

                <a href="https://twitter.com/KomodoIDE" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @KomodoIDE</a>
            </h1>
            <ul>
                <script id="tweet-template" type="text/x-handlebars-template">
                    <li>
                        <div class="icons">
                            <a href="{{link}}" target="_blank"><i class="icon icon-twitter"></i></a>
                            {{#if retweet}}
                                <i class="icon icon-retweet tooltip" title="Retweeted by {{retweet.author}}"></i>
                            {{/if}}
                        </div>

                        <a href="{{author_link}}" title="{{author}} ({{nick}})" target="_blank">
                            <img src="{{avatar}}" align="left">
                        </a>
                        <span class="tweet">
                            {{{tweet}}}
                        </span>
                    </li>
                </script>
            </ul>
        </div>
    </div>
    <div>
        <div id="splash-news-testimonials">
            <h1>Testimonials</h1>
            <div class="testimonial">
                <div class="quote-left">“</div>
                <div class="quote-right">”</div>
                <blockquote data-field="comment">
                    @ActiveState Sweetttt, you beautiful sons-of-$&^%@, Komodo 8 now has
                    all the features I've wanted in an IDE since I was 2 years old. #thanx
                </blockquote>
                <span>
                    <span data-field="name"><a href="#">ANAIO</a></span> via <span data-field="source"><a href="#">Twitter</a></span>
                </span>
            </div>
        </div>
        <div id="splash-news-screencasts">
            <h1><a href="/screencasts">Screencasts</a></h1>
                <% sitemap.where(:layout.equal => 'screencast').all()[0..5].each() do |item| %>
                <a href="<%= item.url %>">
                    <i class="icon icon-youtube-play"></i>
                    <figure style="background-image: url('<%= vimeo_data(item.data.vimeo_id, "thumbnail_large") %>')"></figure>
                    <span><%= item.data.title %></span>
                </a>
                <% end %>
        </div>
    </div>
</div>

<!-- LivePerson -->
<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/88203588/?cmd=mTagRepstate&site=88203588&buttonID=12&divID=lpButDivID-1279824964197&bt=1&c=1"></script>