---
title: Pricing
layout: default
description: Komodo IDE pricing and licensing
priority: 0.7
---

<div class="assistance">
    <div class="inner">
        <div id="lpButDivID-1279824964197"></div>
    </div>
</div>

<div class="spacer clearfix"></div>

<div class="centered heading">
    <h1>Buy Komodo IDE and Pro Studio Bundles</h1>
    
    <% if data.promotions.pricing.enabled %>
        <h2 class="promotion">
            <%= data.promotions.pricing.description %>
        </h2>
    <% end %>
    
    <p>
        Komodo IDE is the multi-language, cross-platform IDE for all your programming needs,
        while our Pro Studio bundles feature additional features for Perl and Tcl developers.
        Choose the product that's right for you!
    </p>

</div>

<div class="outer">
<div class="inner">

    <ul class="block">
        <li class="personal">
            <% if data.promotions.sale.komodopersonal %>
                <div class="ribbon-wrapper"><div class="ribbon">Sale</div></div>
            <% end %>
            
            <h2>Komodo IDE<br/>"Personal"</h2>

            <h1>
                <big><sup>$</sup>99</big>
                <span>/license</span>
            </h1>

            <p class="description">
                Only available to students, freelancers and individuals
                <em>who will not be reimbursed</em> by a company or employer
            </p>

            <ul>
                <li>Multi-language support</li>
                <li>Cross-platform installers</li>
                <li>Not transferrable</li>
                <li>Limit one purchase</li>
                <li>No Upgrades & Support</li>
                <li>Restrictions apply<sup>1</sup></li>
            </ul>

            <div class="buttons">
                <a class="button primary"
                   href="https://store.activestate.com/cart/add/p195_q1?destination=cart"
                   data-analytics="buy:personal:commit">
                    <big>$99</big>
                    <small>restrictions apply<sup>1</sup></small>
                </a>
            </div>
        </li>
        <li class="enterprise">
            <em class="popular">Most Popular</em>
            
            <% if data.promotions.sale.komodo %>
                <div class="ribbon-wrapper"><div class="ribbon">Sale</div></div>
            <% end %>
            
            <h2>Komodo IDE</h2>

            <h1>
                <% if data.promotions.prices.komodo %>
                    <big class="del"><sup>$</sup><del>295</del></big>
                    <big class="promo"><sup>$</sup><%= data.promotions.prices.komodo %></big>
                <% else %>
                    <big><sup>$</sup>295</big>
                <% end %>
                <span>/license</span>
            </h1>

            <p class="description">
                The professional IDE for individuals and companies - recommended
                license for all your development needs
            </p>

            <ul>
                <li>Multi-language support</li>
                <li>Cross-platform installers</li>
                <li>Fully transferrable</li>
                <li>Bulk purchases available</li>
                <li>Personal or commercial use</li>
                <li>Add Upgrades & Support<sup>2</sup> plan to automatically
                    receive major updates</li>
            </ul>

            <div class="buttons">
                <a class="button primary"
                   href="https://store.activestate.com/cart/add/p100_q1-iupsell_yes?destination=cart"
                    data-analytics="buy:komodo:single">
                    <% if data.promotions.prices.komodous %>
                        <big><del>$382</del> $<%= data.promotions.prices.komodous %></big>
                    <% else %>
                        <big>$382</big>
                    <% end %>
                    <small>with Upgrades & Support</small>
                </a>

                <a class="button"
                   href="https://store.activestate.com/cart/add/p2_q1-iupsell_yes?destination=cart"
                    data-analytics="buy:komodo:single">
                    <% if data.promotions.prices.komodo %>
                        <big><del>$295</del> $<%= data.promotions.prices.komodo %></big>
                    <% else %>
                        <big>$295</big>
                    <% end %>
                    <small>without Upgrades & Support</small>
                </a>
            </div>
        </li>
        <li class="packs">
            <% if data.promotions.sale.fivepack %>
                <div class="ribbon-wrapper"><div class="ribbon">Sale</div></div>
            <% end %>
            
            <h2>Komodo IDE For<br/>Teams (5-Packs)</h2>

            <h1>
                <% if data.promotions.prices.fivepack %>
                    <big class="del xl"><sup>$</sup><del>1615</del></big>
                    <big class="promo"><sup>$</sup><%= data.promotions.prices.fivepack %></big>
                <% else %>
                    <big><sup>$</sup>1615</big>
                <% end %>
                <span>/5 licenses</span>
            </h1>

            <p class="description">
                <strong>Save $ with a 5-pack!</strong><br/>
                5 licenses + Upgrades & Support plan<br/>subscription for each license
            </p>

            <ul>
                <li>Buy 4, get 1 free<sup>3</sup></li>
                <li>Multi-language support</li>
                <li>Cross-platform installers</li>
                <li>Fully transferable</li>
                <li>Bulk purchases permitted</li>
            </ul>

            <div class="buttons">
                <a class="button primary"
                   href="https://store.activestate.com/cart/add/p105_q1-iupsell_yes?destination=cart"
                   data-analytics="buy:komodo:5pack">
                    <% if data.promotions.prices.fivepack %>
                        <big><del>$1615</del> $<%= data.promotions.prices.fivepack %></big>
                    <% else %>
                        <big>$1615</big>
                    <% end %>
                    <small>includes Upgrades & Support</small>
                </a>
            </div>
        </li>
    </ul>
    <h3 class="centered">
        <a href="/pricing/license-comparison">
            Compare Editions - Komodo IDE and Pro Studio
        </a>
    </h3>

    <div class="clearfix"></div>

</div>
</div>

<div class="outer-bottom">
    <hr/>
    <div class="bundles">
        <h1>Perl and Tcl Bundles</h1>
        <p><strong>Komodo + Perl or Tcl = &lt;3</strong></p>
        <p>
            Are you a dev programming in Perl or Tcl? ActiveState Pro Studio bundles
            include everything a Perl or Tcl programmer needs in one convenient package.
            Pro Studio includes permanent licenses of Komodo IDE and
            <a href="http://www.activestate.com/perl-dev-kit">Perl Dev Kit</a> or
            <a href="http://www.activestate.com/tcl-dev-kit">Tcl Dev Kit</a>, plus 
            your first year's subscription to the annual Upgrades and Support
            subscription<sup>2</sup>, and premium acesss to Safari Books Online.
        </p>
        <div class="buttons">
            <a class="button primary big"
               href="https://store.activestate.com/activeperl-pro-studio"
               data-analytics="buy:perlprostudio:commit">
                <% if data.promotions.prices.prostudio %>
                    <big><del>$595</del> $<%= data.promotions.prices.prostudio %></big>
                <% else %>
                    <big>$595</big>
                <% end %>
                <small>ActivePerl Pro Studio</small>
            </a>
            
            <a class="button primary big"
               href="https://store.activestate.com/activetcl-pro-studio"
               data-analytics="buy:tclprostudio:commit">
                <% if data.promotions.prices.prostudio %>
                    <big><del>$595</del> $<%= data.promotions.prices.prostudio %></big>
                <% else %>
                    <big>$595</big>
                <% end %>
                <small>ActiveTcl Pro Studio</small>
            </a>
        </div>
        <p>
            Not sure if Pro Studio is right for you?
            <a href="http://www.activestate.com/pro-studio">
                Learn more about Pro Studio bundles.
            </a>
        </p>
    </div>
    
    <div class="upgradesRenewals">
         <h1>Upgrades and Renewals</h1>
         <p>
            Have a license you want to upgrade, or add an Upgrades & Support plan?
            <a href="https://account.activestate.com/">Log in to your account.</a>
         </p>
    </div>
    
    <div class="bulk">
        <h1>Buying 20 or More Licenses?</h1>
        <p>
            Please email
            <a href="mailto:sales@activestate.com?subject=Bulk%20License%20Quote%20Request">
                sales@activestate.com
            </a> for a custom quote if you require
            20 or more licenses or subscriptions. Call 778.786.1103
            (1.866.631.4581 toll-free within North America).
        </p>
        
        <div class="contract-holder">
            <img src="/assets/images/misc/gsa-adv-logo.png" alt="US Government purchaser?">
            <p>
                <strong>US Government purchaser?</strong> If you are a US Government purchaser
                (federal and local/state agency), please note that ActiveState is a GSA
                Contract Holder (GSA #GS-35F-0097X). You can
                <a href="https://www.gsaadvantage.gov/advantage/s/search.do?q=0:0activestate&db=0&searchType=1" target="_blank">
                search for our products on the GSA Advantage site</a> for GSA pricing,
                or contact us for a quote at <a href="mailto:sales@activestate.com">
                sales@activestate.com</a> or 1.866.631.4581.
            </p>
        </div>
    </div>
    
    <div class="otherLicenses">
        <h1>
            Student/Educational Licenses
        </h1>
        <p>
            <strong>Teachers/Professors:</strong> ActiveState offers free license
            options to qualified academic/educational institutions (K-12, university,
            etc) for use in the classroom and labs. 
        </p>
        <p>
            <strong>Teachers/Professors</strong>, please <a href="mailto:komodo-licensing@activestate.com">contact us</a>
            with details to find out if you qualify
        </p>
        <p>
            <strong>Students:</strong> There is currently no option for a free
            student license. If you are looking for Komodo, you can
            <a href="https://store.activestate.com/cart/add/p195_q1?destination=cart" data-analytics="buy:personal:student" target="_blank">
                purchase a Komodo IDE Personal license
            </a>
            for only US$99. Alternatively, you can download our powerful open
            source editor Komodo Edit for free.
        </p>
    </div>
    
    <div class="komodoEdit">
        <h2>Komodo Edit</h2>
        <p>
            Looking for a powerful editor without all the advanced functionality
            an IDE comes with? Try <a href="/komodo-edit">Komodo Edit</a>,
            our free, open source editor based on Komodo IDE.
        </p>
    </div>
    
    <p>&nbsp;</p>
    <div class="page-footer">
        <p>All prices are in USD.</p>
        <p>
            <sup>1</sup>
            <a href="http://www.activestate.com/komodo-ide/license-agreement">
                Komodo Terms and Conditions
            </a> apply. By purchasing a Personal license, you agree to the terms 
            and conditions, and your license may be revoked if you are found to be
            in conflict with said terms.
        </p>
        <p>
            <sup>2</sup>
            <a href="http://www.activestate.com/upgrade-support-terms">
                Upgrades and Support Subscriptions
            </a> include major version upgrades and email technical support for
            $87 per license, per year. Subscriptions are automatically renewed
            and charged to your credit card annually.
        </p>
        <p>
            <sup>3</sup> 5 permanent licenses for the cost of 4, plus your first
            year's subscription for 5 annual Upgrades & Support plans.
        </p>
    </div>
</div>

<!-- LivePerson -->
<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/88203588/?cmd=mTagRepstate&site=88203588&buttonID=12&divID=lpButDivID-1279824964197&bt=1&c=1"></script>

