---
socialDescription: Komodo IDE Screencasts
classNames: sidebar-small
sidebar: resources
---
<h1>Komodo Screencasts</h1>

<% if data.promotions.global.enabled %>
    <h2 class="promotion global">
        <a href="<%= data.promotions.global.link %>">
            <%= data.promotions.global.description %>
        </a>
    </h2>
<% end %>

<ul class="screencasts">
    <% get_pages_by_layout("screencast").each() do |item| %>

    <li>
        <a href="<%= item.url %>">
            <i class="icon icon-youtube-play"></i>
            <figure style="background-image: url(<%= vimeo_data(item.data.vimeo_id, "thumbnail_large") %>)"></figure>
            <div class="inner">
                <span class="title"><%= item.data.title %></span>
                <span class="date">
                    <i class="icon icon-calendar"></i>
                    <%= item.data.date.strftime('%b %e, %Y') %>
                </span>
                <span class="duration">
                    <i class="icon icon-clock-o"></i>
                    <% len = vimeo_data(item.data.vimeo_id, "duration")
                        if len > 60
                            min = (len / 60) >> 0
                            sec = (len % 60) < 10 ? "0#{len % 60}" : len % 60
                            len = "#{min}:#{sec}"
                        else
                            len = "0:#{len}"
                        end
                    %>
                    <%= len %>
                </span>
            </div>
        </a>
        <div class="description">
            <%= vimeo_data(item.data.vimeo_id, "description") %>
        </div>
    </li>
    <% end %>

</ul>
